h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.background-color {
    min-height: 100vh;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }

.login-position {
    height: 100%;
}
