{% extends 'users/users_base.html' %}
{% block entryform %}
<br />
<h4 class="w3-left-align">&nbsp;&nbsp;You've been logged out.</h4>
<br />
<div class="w3-left-align">
    <small><a href="{% url 'users-login' %}">Back to Login</a></small>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endblock entryform %}
