{% extends 'users/users_base.html' %}
{% block entryform %}
<section class="w3-container w3-left-align">
    <br />
    <h4>Reset Password</h4>
    <br />
    <form method="POST">
        {% csrf_token %}
        <fieldset class="w3-black w3-border-0">
            {{ form.as_p }}
        </fieldset>
        <br />
        <button type="submit" class="w3-button w3-black w3-hover-white">Reset Password</button>
    </form>
    <br />
    <small><a href="{% url 'users-login' %}">Back to Login</a></small>
    <br />
    <small>Need an Account? <a href="{% url 'users-register' %}">Sign Up Now</a></small>
</section>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endblock entryform %}
