{% extends "issue_tracker_app/track_base.html" %}
{% block title %}
<title>{{ issue.title }} - Issue Tracker</title>
{% endblock %}
{% block navbar %}
<div class="w3-top">
    <div class="w3-bar w3-teal w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-teal" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="{% url 'track:track-about' %}" class="w3-bar-item w3-button w3-padding-large w3-white">Issue Tracker</a>
        <a href="{% url 'users-logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
        <a href="{% url 'track:track-home' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Profile</a>
        <a href="{% url 'track:track-project-details' issue.parent_project.slug %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Project</a>
        <a href="{% url 'track:track-issue-details' issue.slug %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-black w3-hover-white">Issue</a>
        <a href="{% url 'track:track-about' %}"><i class="w3-bar-item w3-large fa fa-info-circle w3-hover-opacity w3-padding-16 w3-right"></i></a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="{% url 'users-logout' %}" class="w3-bar-item w3-button w3-padding-large">Logout</a>
        <a href="{% url 'track:track-home' %}" class="w3-bar-item w3-button w3-padding-large">Profile</a>
        <a href="{% url 'track:track-project-details' issue.parent_project.slug %}" class="w3-bar-item w3-button w3-padding-large">Project</a>
        <a href="{% url 'track:track-issue-details' issue.slug %}" class="w3-bar-item w3-button w3-padding-large">Issue</a>
    </div>
</div>
{% endblock navbar %}
{% block headertable %}
<table class="w3-table">
    <tr>
        <th><h3>Current Issue:</h3></th>
        <td><h3>{{ issue.title }}</h3></td>
        <th>Content:</th>
        <td>{{ issue.content }}</td>
    </tr>
</table>
{% endblock headertable %}
{% block body %}
<h3 class="w3-left-align">

    Issue Details
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'track:track-issue-update' issue.slug %}" class="w3-button w3-black w3-medium w3-border-0">
        Update
    </a>
    <a href="{% url 'track:track-issue-delete' issue.slug %}" class="w3-button w3-black w3-medium w3-border-0">
        Delete
    </a>
    <a href="{% url 'track:track-project-details' issue.parent_project.slug %}" class="w3-button w3-black w3-medium w3-border-0">
        Project
    </a>
</h3>
<br />
<table class="w3-table w3-teal">
    <tr>
        <th>Title: </th>
        <td>{{ issue.title }}</td>
    </tr>
    <tr>
        <th>Content: </th>
        <td>{{ issue.content }}</td>
    </tr>
    <tr>
        <th>Worker: </th>
        <td>{{ issue.worker }}</td>
    </tr>
    <tr>
        <th>Date Created: </th>
        <td>{{ issue.date_created|date:"n/j/Y" }}</td>
    </tr>
    <tr>
        <th>Last Updated: </th>
        <td>{{ issue.last_updated|date:"n/j/Y" }}</td>
    </tr>
    <tr>
        <th>Priority: </th>
        <td>{{ issue.priority }}</td>
    </tr>
    <tr>
        <th>Difficulty: </th>
        <td>{{ issue.difficulty }}</td>
    </tr>
    <tr>
        <th>Status: </th>
        <td>{{ issue.status }}</td>
    </tr>
</table>
{% endblock %}