{% extends "issue_tracker_app/track_base.html" %}
{% block title %}
<title>{{ project.title }} - Issue Tracker</title>
{% endblock %}
{% block navbar %}
<div class="w3-top">
    <div class="w3-bar w3-teal w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-teal" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="{% url 'track:track-about' %}" class="w3-bar-item w3-button w3-padding-large w3-white">Issue Tracker</a>
        <a href="{% url 'users-logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
        <a href="{% url 'track:track-home' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Profile</a>
        <a href="{% url 'track:track-project-details' project.slug %}"  class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-black w3-hover-white">Project</a>
        <span class="w3-bar-item w3-hide-small w3-padding-large">Issue</span>
        <a href="{% url 'track:track-about' %}"><i class="w3-bar-item w3-large fa fa-info-circle w3-hover-opacity w3-padding-16 w3-right"></i></a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="{% url 'users-logout' %}" class="w3-bar-item w3-button w3-padding-large">Logout</a>
        <a href="{% url 'track:track-home' %}" class="w3-bar-item w3-button w3-padding-large">Profile</a>
        <a href="{% url 'track:track-project-details' project.slug %}" class="w3-bar-item w3-button w3-padding-large w3-black">Project</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Issue</a>
    </div>
</div>
{% endblock %}
{% block headertable %}
<br /><br />
<!-- for medium and large screens -->
<table class="w3-table w3-hide-small">
    <tr>
        <div class="w3-third">
            <th><h3>Current Project:</h3></th>
            <td><h3>{{ project.title }}</h3></td>
        </div>
        <div class="w3-third">
            <th>Description: </th>
            <td>{{ project.description }}</td>
        </div>
        <td class="w3-third w3-centered">
            <a href="{% url 'track:track-project-update' project.slug %}" class="w3-button w3-black w3-hover-white w3-small w3-border-0">
                Edit
            </a>
        </td>
    </tr>
</table>
<!-- for small screens -->
<table class="w3-hide-medium w3-hide-large">
        <tr><td><h3>Current Project: {{ project.title }}</h3></td></tr>
        <tr><td>Description: {{ project.description }}</td></tr>
        <tr>
            <td class="w3-third w3-centered">
                <a href="{% url 'user-update' user.pk %}" class="w3-button w3-black w3-hover-white w3-small w3-border-0">
                    Edit
                </a>
            </td>
        </tr>
</table>
{% endblock %}
{% block body %}
    <br /><br />
    <h2>Are you sure you want to delete project <br />"{{ object.title }}"?</h2>
    <form method="POST" class="w3-left-align w3-center">
        {% csrf_token %}
        <fieldset class="w3-border-0">
        </fieldset>
        <br />
        <button type="submit" class="w3-button w3-red">Yes, Delete</button>
        <a href="{% url 'track:track-home' %}" class="w3-button w3-black w3-medium w3-border-0">
            Back to Profile
        </a>
    </form>
{% endblock body %}